*{
  margin:20px;
}
table , tr , th , td{
  margin-top: 20px;
  padding: 10px 20px;
  border:2px solid red;
  border-collapse: collapse;
  text-align: center;
  font-size: 20px;
}

td{
  font-size: 18px;
  font-weight: 500;
  text-align: left;
}

input{
  padding: 5px 20px;
  border-radius: 10px;
  outline: none;
  border:2px solid blue;
}